* {
    box-sizing: border-box;
  }
  
  @import url(https://fonts.googleapis.com/css?family=PT+Sans);
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  body {     
    font-family: 'Titillium Web', sans-serif;
    background-color: #fff;
  }
  
  h1 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #2c3e50;
    text-shadow: 0 1px 0 #b3cff3;
    
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 0 1px 0 #353232;
    background-color: #e74c3c;
    border-radius: 12px;
    font-weight: normal;
    
    margin-top: 30px; 
    font-size: 25px;
  }
  h4{
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#fff;
    background-color: #2cd1e7;
    border-radius: 12px;
  }
  
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    margin: auto;
    position: relative;
    background-color: #2c3e50;
    z-index: 7;
  }
    li {
      float: left;
      width: 20%;
      height: 100%;
      margin: 0;
      padding: 0;
      align-items: center;
    }
    
    a {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: #fff;
      text-decoration: none;
      position: relative;
      font-size: 18px;
      z-index: 9;
    }
 
  
  a.active {
    background-color: #e74c3c;
    pointer-events: none;
  }
  
  li.slider {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e74c3c;
    z-index: 8;
    transition: left .4s, background-color .4s;
  }

  .menu li:nth-child(2):hover,
  .menu li:nth-child(2):focus,
  .menu li:nth-child(2):active 
     ~ .slider {
      left: 25%;
      background-color: #2cd1e7;
    }
  
  
  .menu li:nth-child(3):hover,
  .menu li:nth-child(3):focus,
  .menu li:nth-child(3):active 
     ~ .slider {
      left: 50%;
      background-color: #2cd1e7;
    }
  
  
  .menu li:nth-child(4):hover,
  .menu li:nth-child(4):focus,
  .menu li:nth-child(4):active 
     ~ .slider {
      left: 75%;
      background-color: #2cd1e7;
    }
  .menu li:nth-child(5):hover,
  .menu li:nth-child(5):focus,
  .menu li:nth-child(5):active 
     ~ .slider {
      left: 75%;
      background-color: #2cd1e7;
    }


#background{
  background-image: url('images/Computer-Information-Systems.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 1580px auto;
  background-position: center top;
  padding: 50px 90px 120px 50px;
}

#introducing, #introducing2, #introducing3 {
    position: relative;
    z-index: 100;
    padding: 15px;
    background: rgba(130, 227, 240, 0.3);
}

@media (max-width: 600px ) {
  #background, #background2, #background3 { padding: 10px; }
}

.container, .container2, .container3 {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    background-color: #2c3e50;
    color: #fff;
    padding: 5px;
    width: 70%;
    height:auto;
    margin-left: 15%;
   
}

footer {
    text-align:center;
    color: white;
    background-color: #040904;
    display:flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
    
}

footer img {
    margin-left: 5px;
    filter:grayscale(100%)
}

  img, iframe {
    margin-left:220px;
    margin-right:170px;
} */
.microwave {
    float: right;
    margin: 7px 0 7px 7px; 
}


.laptop-text-1, .laptop-text-2 {
 width: 50%; 
 float: left;  
}

#laptop-image-1 , #laptop-image-2 {
width: 50%; 
float: left;    

}

.laptop-image-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.img-one {
    margin: 40px;
}
.img-two {
    margin: 40px;
}






